.fullWindow
{
    width: 600px;
    height: 800px;
    background-color: greenyellow;
    text-align: center;
    margin: auto
}

.contactsWindow
{
    width: 250px;
    height: 100%;
    background-color: rgb(238, 103, 103);
    text-align: center;
    float: left;
}

.currentChat
{
    text-align: center;
    padding-top: 2px;
}

.replyBox
{
    margin-top: 701px;
    margin-left: 250px;
    margin-right: 8px;
    background-color: pink;
}

.replyField
{
    width: 100%;
    height: 30px;
}